name: Publish

on:
  workflow_dispatch:
    inputs:
      build:
        type: number
        description: the build number to use

jobs:
  install_conan:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-15
          - macos-15-intel
          - windows-2022
          - windows-11-arm

    steps:
      - uses: actions/setup-node@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'       
      - uses: ilammy/msvc-dev-cmd@v1
        if: runner.os == 'Windows'
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Get conan version and Node.js arch name
        id: version
        shell: bash
        run: |
          node -p "'conan_version=' + require('./package.json').xpack.properties.versionConan" >> $GITHUB_OUTPUT
          node -p "'arch=' + os.platform() + '-' + os.arch()" >> $GITHUB_OUTPUT
      - run: npm install
      - run: npx xpm install
      - run: npx xpm run build
      - name: Test
        run: npx xpm run test
      - name: Pack (Windows)
        shell: bash
        run: 7z a conan-xpack-${{ steps.version.outputs.conan_version }}-${{ inputs.build }}-${{ steps.version.outputs.arch }}.zip content
        if: runner.os == 'Windows'
      - name: Pack (POSIX)
        shell: bash
        run: tar -zcvf conan-xpack-${{ steps.version.outputs.conan_version }}-${{ inputs.build }}-${{ steps.version.outputs.arch }}.tar.gz content
        if: runner.os != 'Windows'
      - uses: actions/upload-artifact@v6
        with:
          name: binary-${{ steps.version.outputs.arch }}
          path: conan-xpack-*


  create_release:
    needs: install_conan
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Get conan version
        id: version
        shell: bash
        run: |
          node -p "'conan_version=' + require('./package.json').xpack.properties.versionConan" >> $GITHUB_OUTPUT
      - uses: actions/download-artifact@v6
        with:
          path: ${{ github.workspace }}
          merge-multiple: true
      - name: Update package.json
        run: node update-package.mjs
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          add: package.json package-lock.json
          message: 'update package.json for ${{ steps.version.outputs.conan_version }}-${{ inputs.build }}'
          push: true
          tag: v${{ steps.version.outputs.conan_version }}-${{ inputs.build }}
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: conan-xpack-*
          draft: true
          tag: v${{ steps.version.outputs.conan_version }}-${{ inputs.build }}

